<footer>
    <div class="bottom">
        <div class="left_side"></div>
        <div class="information-g">
            <div class="inf-box1">
                <ul>
                    <li><a>{{"MENU.HOME" | translate}}</a></li>
                    <li><a>{{"MENU.CONTACTS" | translate}}</a></li>
                    <li><a>{{"MENU.LUMBER" | translate}}</a></li>
                    <li><a>{{"MENU.INFORMATIONSUBMENU.PAYMENTSANDDELIVERY" | translate}}</a></li>

                </ul>
            </div>
            <div class="inf-box2">
                <div class="inf-box2-1">
                    <ul>
                        <li>{{"CONSTDATA.LOGOPAGENAME" | translate}}</li>
                        <li>{{"CONSTDATA.LOGOOWNERNAME" | translate}}</li>
                        <li>{{"CONSTDATA.NIP"| translate}}</li>
                        <li>{{"CONSTDATA.REGON"| translate}}</li>
                    </ul>
                </div>
                <div class="inf-box2-2">
                    <ul>
                        <li>{{"CONSTDATA.ADRES.COUNTRY"| translate}}</li>
                        <li>{{"CONSTDATA.ADRES.STREET"| translate}}</li>
                        <li>{{"CONSTDATA.ADRES.POSTALCODE"| translate}}</li>
                    </ul>
                </div>
            </div>
            <div class="inf-box3">
                <div class="box3-1">
                    <ul>
                        <li>{{"CONSTDATA.TRANSACTIONSDATA.BANK"| translate}}</li>
                        <li>{{"CONSTDATA.TRANSACTIONSDATA.SWIFT"| translate}}</li>
                        <li>{{"CONSTDATA.TRANSACTIONSDATA.IBAN"| translate}}</li>
                        <li>{{"CONSTDATA.TRANSACTIONSDATA.EUR"| translate}}</li>
                        <li>{{"CONSTDATA.TRANSACTIONSDATA.PL"| translate}}</li>
                    </ul>
                </div>
                <div class="box3-2">
                    <ul>
                        <li>{{"CONSTDATA.CONTACTDATA.EMAIL"| translate}}</li>
                        <li>{{"CONSTDATA.CONTACTDATA.TELEPHONE.PL"| translate}}</li>
                        <li>{{"CONSTDATA.CONTACTDATA.TELEPHONE.BY"| translate}}</li>

                    </ul>
                </div>

            </div>

        </div>
        <div class="right_side"></div>

    </div>
    <div class="copyright">Copyright DrewMet ANTON PAULAU {{currentYear}}</div>
</footer>