<div class="FormFB">
    <form id="BMD" class="BMD" name="BMD" action="fb.php" method="POST">
        <label>{{"FEEDBACKFORM.NAME" | translate}}</label>
        <input class="nameBMD field" type="text" name="nameBMD" placeholder="{{'FEEDBACKFORM.ENTER' | translate}} {{'FEEDBACKFORM.NAME' | translate}}"><br>
        <label>{{"FEEDBACKFORM.EMAIL" | translate}}</label>
        <input class="emailBMD field" type="email" name="emailBMD" placeholder="{{'FEEDBACKFORM.ENTER' | translate}} {{'FEEDBACKFORM.EMAIL' | translate}}"><br>
        <label>{{"FEEDBACKFORM.MESSAGE" | translate}}</label>
        <textarea class="messageBMD field" name="messageBMD" cols="30" rows="10"
            placeholder="{{'FEEDBACKFORM.ENTER' | translate}} {{'FEEDBACKFORM.MESSAGE' | translate}}"></textarea><br>
        <!-- <input id="submit" name="submit" type="submit" value="Отправить"> -->
        <button id="submit" class="submit" type="submit" name="send" value="{{'FEEDBACKFORM.SEND' | translate}}">{{'FEEDBACKFORM.SEND' | translate}}</button>
        <script src="check_form.js"></script>
    </form>
</div>