<div class="top_mid_fb">

    <div class="top">
        <div class="left_side"></div>
        <div class="central-box">
            <div class="title">Продажа и производство пиломатериалов </div>
            <div class="information">
                <div class="inf-box-1">
                    <div class="inf-box-1-up">
                        <div class="inf-box-1-up-left"><img src="images/dest/ico/telegTest.jpg" alt="globico"></div>
                        <div class="inf-box-1-up-right">Международное<br>предприятие</div>
                    </div>
                    <div class="inf-box-1-down">
                        <strong>Динамично</strong>
                        развивающееся предприятие,
                        приоритетным направлением которого
                        является производство и
                        продажа пиломатериалов в:
                        <strong>
                            <ul>
                                <li>США</li>
                                <li>Европу</li>
                                <li>И другие страны</li>
                            </ul>
                        </strong>
                    </div>
                </div>
                <div class="inf-box-2">
                    <div class="inf-box-2-up">
                        <div class="inf-box-2-up-left"><img src="images/dest/ico/lupTest.jpg" alt="globico"></div>
                        <div class="inf-box-2-up-right">Широкий<br>выбор</div>
                    </div>
                    <div class="inf-box-2-down">
                        <strong>Высококачественные</strong>
                        пиломатериалы продольно-
                        распиленные, обрезные, необрезные различных
                        пород:
                        <div class="inf-box-2-down-L">
                            <div class="inf-box-2-down-list1">
                                <strong>
                                    <ul>
                                        <li>Cосна</li>
                                        <li>Береза</li>
                                        <li>Осина</li>
                                    </ul>
                                </strong>
                            </div>
                            <div class="inf-box-2-down-list2">
                                <strong>
                                    <ul>
                                        <li>Ольха</li>
                                        <li>Ель</li>
                                        <li>И другие</li>
                                    </ul>
                                </strong>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="inf-box-3">
                    <div class="inf-box-3-up">
                        <div class="inf-box-3-up-left"><img src="images/dest/ico/testGlob.jpg" alt="globico"></div>
                        <div class="inf-box-3-up-right">Высокое<br>качество</div>
                    </div>
                    <div class="inf-box-3-down">
                        Выпускаемая продукция
                        соответствует <strong>ГОСТам</strong> и имеет <strong>сертификат</strong>
                        собственного производства.
                        Распиловка круглого леса осуществляется
                        специалистами на <strong>современном оборудовании</strong>.
                    </div>
                </div>
            </div>
        </div>

        <div class="right_side"></div>
    </div>


    <div class="mid">
        <div class="left_side"></div>
        <div class="wrapper">
            <div class="img-left">
                <img id="carouselLeft" src="images/dest/Products/leftArr.jpg" alt="Left Arrow Navigation" />
            </div>
            <div class="container">
                <img src="images/dest/Products/balka.jpg" id="img_balka" alt="balka" />
                <img src="images/dest/Products/brusok.jpg" id="img_brusok" alt="brusok" />
                <img src="images/dest/Products/drova.jpg" id="img_drova" alt="drova" />
                <img src="images/dest/Products/gorbil.jpg" id="img_gorbil" alt="gorbil" />
                <img src="images/dest/Products/nerdoska.jpg" id="img_nerdoska" alt="nerdoska" />
                <img src="images/dest/Products/opilki.jpg" id="img_opilki" alt="opilki" />
                <img src="images/dest/Products/palet.jpg" id="img_palet" alt="palet" />
                <img src="images/dest/Products/rdoska.jpg" id="img_rdoska" alt="rdoska" />
            </div><!-- container -->
            <div class="img-right">
                <img id="carouselRight" src="images/dest/Products/rightArr.jpg" alt="Right Arrow Naviagtion" />
            </div>
        </div><!-- wrapper -->
        <div class="right_side"></div>
    </div>
    <div class="mid_460px"></div>
    <div class="FeedBack">
        <div class="left_side"></div>
        <div class="FormFB">
            <form id="BMD" class="BMD" name="BMD" action="php/fb.php" method="POST">
                <label>Имя:</label>
                <input class="nameBMD field" type="text" name="nameBMD" placeholder="Enter name"><br>
                <label>E-mail:</label>
                <input class="emailBMD field" type="email" name="emailBMD" placeholder="Enter email"><br>
                <label>Сообщение:</label>
                <textarea class="messageBMD field" name="messageBMD" cols="30" rows="10"
                    placeholder="Text message"></textarea><br>
                <!-- <input id="submit" name="submit" type="submit" value="Отправить"> -->
                <button id="submit" class="submit" type="submit" name="send" value="Отправить">Отправить</button>
                <script src="js/check_form.js"></script>
            </form>

        </div>
        <div class="right_side"></div>
    </div>
    <div class="FeedBack_460px"></div>
</div>