* {
    padding: 0;
    margin: 0
}

ul {
    list-style-type: none;
    padding: 10px
}

.bottom {
    background-color: #28262a;
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: fixed;
    bottom: 0;
}

.bottom ul li:hover {
    color: #d5b45b;
    cursor: pointer;
}

.bottom ul li a {
    text-decoration: none;
    color: #fff;
}

.bottom ul li a:hover {
    color: #d5b45b;
}

.information-g li {
    color: #fff;
    font-size: 18px;
}

.information-g {
    display: -ms-grid;
    display: grid;
    padding: 60px;
    text-decoration: none;
    line-height: 1.4
}

.copyright {
    background-color: #28262a;
    text-align: center;
    font-size: 10px;
    position: fixed;
    bottom: 0;
}

@media screen and (min-width:1332px) {
    .information-g {
        -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (max-width:1331px) {
    .information-g {
        -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width:982px) {
    .information-g {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    }
}


@media screen and (min-width:1000px) {
    .bottom {
        -ms-grid-columns: 2fr 10fr 1fr;
        grid-template-columns: 2fr 10fr 1fr;
    }
}

@media screen and (max-width:1000px) {

    .left_side,
    .right_side {
        display: none;
    }
}

@media screen and (max-width:1332px) {
    .inf-box1 {
        display: none
    }
}