* {
    padding: 0;
    margin: 0
}

a {
    text-decoration: none;
    color: #666
}

p {
    text-decoration: none
}

.navigate {
    width: 250px;
    height: 300px;
    display: grid;
    grid-template-rows: repeat 5, 1fr;
}

@media screen and (max-width: 749px) {
    .navigate {
        display: none;
    }
}

.navigate>div {
    border-style: solid;
    border-color: #fff;
    border-width: 2px;
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.nav-link-1,
.nav-link-2,
.nav-link-3,
.nav-link-4,
.nav-link-5 {
    cursor: pointer;
}

.nav-link-1:hover p,
.nav-link-2:hover p,
.nav-link-3:hover p,
.nav-link-4:hover p,
.nav-link-5:hover p {
    transition: 1s;
    color: #d5b45b;
}

.nav-link-1:hover,
.nav-link-2:hover,
.nav-link-3:hover,
.nav-link-4:hover,
.nav-link-5:hover {
    transition: 1s;
    background-color: #28262a;
}

.nav-link-1 div:first-child,
.nav-link-2 div:first-child,
.nav-link-3 div:first-child,
.nav-link-4 div:first-child,
.nav-link-5 div:first-child {
    font-size: 3em;
    color: #404040;
    text-align: center;
    vertical-align: middle;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-link-1 div:last-child,
.nav-link-2 div:last-child,
.nav-link-3 div:last-child,
.nav-link-4 div:last-child,
.nav-link-5 div:last-child {
    color: #404040;
    font-size: 14px;
    text-align: left;
    display: flex;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
}

.nav-link-1 div:last-child p,
.nav-link-2 div:last-child p,
.nav-link-3 div:last-child p,
.nav-link-4 div:last-child p,
.nav-link-5 div:last-child p {
    margin: 14px;
}