<!DOCTYPE html>
<html lang="en">
  <head>
    <meta
      name="google-site-verification"
      content="5ljRUUo3u-XKu9E-VIWnUPTbksc3RNGHEKNYiu4qiUo"
    />
    <meta name="yandex-verification" content="d0eaf4ad4cd26743" />
    <meta
      name="wmail-verification"
      content="d4a7f754a2dd9213f4dabd1aa72538bd"
    />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="MZ" />
    <meta
      name="description"
      content="
    Сompany, the priority of which is the sale and production of lumber 
    High-quality lumber, longitudinally, edged, unedged of various timber/wood species. 
    "
    />

    <title th:text="${title}" />
    <link rel="stylesheet" href="css/app.min.css" />
    <link
      rel="shortcut icon"
      href="images/dest/ico/logo.png"
      type="image/x-icon"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  </head>
  <body>
    <div class="Switchers">
      <div class="bs1 switchEnglish">
        <img src="../images/dest/ico/usaFlag.jpg" alt="usaFlag" />
      </div>
      <div class="bs2"></div>
      <div class="bs3 switchRussian">
        <img src="../images/dest/ico/rusFlag.jpg" alt="rusFlag" />
      </div>
    </div>

    <header th:insert="SimpleContainers/header :: header"></header>

    <div class="top_mid_fb">
      <div class="top">
        <div class="left_side"></div>
        <div class="central-box">
          <div class="title">Sale and production of lumber</div>
          <div class="information">
            <div class="inf-box-1">
              <div class="inf-box-1-up">
                <div class="inf-box-1-up-left">
                  <img src="images/dest/ico/telegTest.jpg" alt="globico" />
                </div>
                <div class="inf-box-1-up-right">International<br />company</div>
              </div>
              <div class="inf-box-1-down">
                <strong>Dynamically</strong>
                developing company, the priority of which is the sale and
                production of lumber in:

                <ul>
                  <li><strong>USA </strong></li>
                  <li><strong>Europe </strong></li>
                  <li><strong>And other countries </strong></li>
                </ul>
              </div>
            </div>
            <div class="inf-box-2">
              <div class="inf-box-2-up">
                <div class="inf-box-2-up-left">
                  <img src="images/dest/ico/lupTest.jpg" alt="globico" />
                </div>
                <div class="inf-box-2-up-right">Wide<br />selection</div>
              </div>
              <div class="inf-box-2-down">
                <strong>High-quality</strong>
                lumber, longitudinally, edged, unedged of various timber/wood
                species:
                <div class="inf-box-2-down-L">
                  <div class="inf-box-2-down-list1">
                    <ul>
                      <li><strong>Pine</strong></li>
                      <li><strong>Birch</strong></li>
                      <li><strong>Aspen</strong></li>
                    </ul>
                  </div>
                  <div class="inf-box-2-down-list2">
                    <ul>
                      <li><strong>Alder</strong></li>
                      <li><strong>Spruce</strong></li>
                      <li><strong>And other</strong></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="inf-box-3">
              <div class="inf-box-3-up">
                <div class="inf-box-3-up-left">
                  <img src="images/dest/ico/testGlob.jpg" alt="globico" />
                </div>
                <div class="inf-box-3-up-right">High <br />quality</div>
              </div>
              <div class="inf-box-3-down">
                The manufactured products correspond to the
                <strong>State standard</strong> and have a
                <strong>certificate</strong> of their own production. Sawing of
                round timber/wood is carried out by specialists with modern
                equipment.
              </div>
            </div>
          </div>
        </div>

        <div class="right_side"></div>
      </div>

      <div class="mid">
        <div class="left_side"></div>
        <div class="wrapper">
          <div class="img-left">
            <img
              id="carouselLeft"
              src="images/dest/Products/leftArr.jpg"
              alt="Left Arrow Navigation"
            />
          </div>
          <div class="container">
            <img
              src="images/dest/Products/balka.jpg"
              id="img_balka"
              alt="balka"
            />
            <img
              src="images/dest/Products/brusok.jpg"
              id="img_brusok"
              alt="brusok"
            />
            <img
              src="images/dest/Products/drova.jpg"
              id="img_drova"
              alt="drova"
            />
            <img
              src="images/dest/Products/gorbil.jpg"
              id="img_gorbil"
              alt="gorbil"
            />
            <img
              src="images/dest/Products/nerdoska.jpg"
              id="img_nerdoska"
              alt="nerdoska"
            />
            <img
              src="images/dest/Products/opilki.jpg"
              id="img_opilki"
              alt="opilki"
            />
            <img
              src="images/dest/Products/palet.jpg"
              id="img_palet"
              alt="palet"
            />
            <img
              src="images/dest/Products/rdoska.jpg"
              id="img_rdoska"
              alt="rdoska"
            />
          </div>
          <!-- container -->
          <div class="img-right">
            <img
              id="carouselRight"
              src="images/dest/Products/rightArr.jpg"
              alt="Right Arrow Naviagtion"
            />
          </div>
        </div>
        <!-- wrapper -->
        <div class="right_side"></div>
      </div>
      <div class="mid_460px"></div>
      <div class="FeedBack">
        <div class="left_side"></div>
        <div class="FormFB">
          <form
            id="BMD"
            class="BMD"
            name="BMD"
            action="php/fb.php"
            method="POST"
          >
            <label>Name:</label>
            <input
              class="nameBMD field"
              type="text"
              name="nameBMD"
              placeholder="Enter name"
            /><br />
            <label>E-mail:</label>
            <input
              class="emailBMD field"
              type="email"
              name="emailBMD"
              placeholder="Enter email"
            /><br />
            <label>Message:</label>
            <textarea
              class="messageBMD field"
              name="messageBMD"
              cols="30"
              rows="10"
              placeholder="Text message"
            ></textarea
            ><br />
            <!-- <input id="submit" name="submit" type="submit" value="Отправить"> -->
            <button
              id="submit"
              class="submit"
              type="submit"
              name="send"
              value="Отправить"
            >
              Send
            </button>
            <script src="js/check_form.js"></script>
          </form>
        </div>
        <div class="right_side"></div>
      </div>
      <div class="FeedBack_460px"></div>
    </div>

    <footer th:insert="SimpleContainers/footer :: footer"></footer>

    <script type="text/javascript" src="js/click-carousel.js"></script>
    <script type="text/javascript">
      $(function () {
        $(".container").clickCarousel({ margin: 10 });
      });
    </script>
    <script src="js/app.min.js"></script>
    <script type="text/javascript">
      function googleTranslateElementInit() {
        new google.translate.TranslateElement(
          { pageLanguage: "ru" },
          "google_translate_element"
        );
      }
    </script>

    <script>
      //change language
      $(document).on("click", ".switchEnglish", function () {
        var url = "https://drewmetpoland.com/index_en.html";
        $(location).attr("href", url);
      });
      $(document).on("click", ".switchRussian", function () {
        var url = "https://drewmetpoland.com/index_ru.html";
        $(location).attr("href", url);
      });
    </script>
  </body>
</html>
