<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta https-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="MZ" />
    <meta
      name="description"
      content="
    Сompany, the priority of which is the sale and production of lumber 
    High-quality lumber, longitudinally, edged, unedged of various timber/wood species. 
    "
    />
    <title>DrewMet</title>
    <link rel="stylesheet" href="../../css/app.min.css" />
    <link
      rel="shortcut icon"
      href="../../images/dest/ico/logo.png"
      type="image/x-icon"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  </head>
  <body>
    <div th:include="~{SimpleContainers/switchers :: language_swithcers}"></div>
    <header th:include="~{SimpleContainers/header :: header}"></header>

    <div class="page-mid">
      <div class="left_side_page1"></div>

      <div class="cpt_cp">
        <hr />
        <div class="cp_title">
          <a><strong>Slab / Sawdust</strong></a>
        </div>
        <hr />
        <div class="center_page">
          <div
            th:include="~{SimpleContainers/page_ls_navigation:: page_ls_navigation}"
          ></div>
          <div class="content_page1">
            <div class="text_content">
              <div class="t_c_">
                <div class="t_c_l">
                  <img
                    src="../../images/dest/Products/gorbil.jpg"
                    alt="gorbil"
                  />
                </div>
                <div class="t_c_r">
                  <p>
                    <strong>The slab </strong>
                    sawn off during the production of bars and boards is a part
                    of the tree, in fact, waste production. It has a low price
                    and is divided, depending on the application, into
                    wood-burning (goes for kindling) and business (used in
                    construction where appearance is not important). Recyclable
                    to the boards of the different sizes
                  </p>
                </div>
              </div>
              <div class="t_c_">
                <div class="t_c_l">
                  <img
                    src="../../images/dest/Products/opilki.jpg"
                    alt="opilki"
                  />
                </div>
                <div class="t_c_r">
                  <p>
                    <strong>Sawdust </strong> (Fraction out of disc machines).
                    Suitable for a large number of different variants of usage:
                    such as an absorber (moisture absorber) of oil waste, from
                    old sawdust produce a substrate for the soil, for storing
                    vegetables and fruits on the balcony, in the cellar, as a
                    means of pest control (the pine smell repels), you can cover
                    plants from the freeze in the garden, as a material for
                    noise absorption.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="right_side_page1"></div>
    </div>

    <footer th:include="~{SimpleContainers/footer :: footer}"></footer>

    <script src="js/app.min.js"></script>

    <script
      type="text/javascript"
      src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"
    ></script>
    <script>
      //change language
      $(document).on("click", ".switchEnglish", function () {
        var url = "https://drewmetpoland.com/index_en.html";
        $(location).attr("href", url);
      });
      $(document).on("click", ".switchRussian", function () {
        var url = "https://drewmetpoland.com/index_ru.html";
        $(location).attr("href", url);
      });
    </script>
  </body>
</html>
