<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta https-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="MZ" />
    <meta
      name="description"
      content="
    Сompany, the priority of which is the sale and production of lumber 
    High-quality lumber, longitudinally, edged, unedged of various timber/wood species. 
    "
    />
    <title>DrewMet</title>
    <link rel="stylesheet" href="../../css/app.min.css" />
    <link
      rel="shortcut icon"
      href="../../images/dest/ico/logo.png"
      type="image/x-icon"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  </head>
  <body>
    <div class="Switchers">
      <div class="bs1 switchEnglish">
        <img src="../../images/dest/ico/usaFlag.jpg" alt="usaFlag" />
      </div>
      <div class="bs2"></div>
      <div class="bs3 switchRussian">
        <img src="../../images/dest/ico/rusFlag.jpg" alt="rusFlag" />
      </div>
    </div>
    <header th:insert="SimpleContainers/header :: header"></header>

    <div class="page-mid">
      <div class="left_side_page1"></div>

      <div class="cpt_cp">
        <hr />
        <div class="cp_title">
          <a><strong>Unedged lumber</strong></a>
        </div>
        <hr />
        <div class="center_page">
          <div class="navigate">
            <div class="nav-link-1">
              <div class="nav-link-1-left">
                <p><strong> > </strong></p>
              </div>
              <div class="nav-link-1-right">
                <a href="page1.html"><p>Edged lumber</p></a>
              </div>
            </div>
            <div class="nav-link-2">
              <div class="nav-link-2-left">
                <p><strong> > </strong></p>
              </div>
              <div class="nav-link-2-right">
                <a href="page2.html"><p>Unedged lumber</p></a>
              </div>
            </div>
            <div class="nav-link-3">
              <div class="nav-link-3-left">
                <p><strong> > </strong></p>
              </div>
              <div class="nav-link-3-right">
                <a href="page3.html"><p>A pallet blank</p></a>
              </div>
            </div>
            <div class="nav-link-4">
              <div class="nav-link-4-left">
                <p><strong> > </strong></p>
              </div>
              <div class="nav-link-4-right">
                <a href="page4.html"><p>Split firewood</p></a>
              </div>
            </div>
            <div class="nav-link-5">
              <div class="nav-link-5-left">
                <p><strong> > </strong></p>
              </div>
              <div class="nav-link-5-right">
                <a href="page5.html"><p>Slab / Sawdust</p></a>
              </div>
            </div>
          </div>
          <div class="content_page1">
            <div class="t_c_">
              <div class="t_c_l">
                <img
                  src="../../images/dest/Products/nerdoska.jpg"
                  alt="nerdoska"
                />
              </div>
              <div class="t_c_r">
                <p>
                  <strong>Unedged board </strong>
                  of natural moisture or machine-dried has a length from 2 to 6
                  meters. Width and thickness - according to the customer's
                  requirements. It is possible to process unedged boards with
                  special protective impregnations for sea transportation.
                  Unedged lumber is of lower quality, but its low price makes it
                  one of the most affordable building materials, which makes it
                  widely used in many areas. For example, for timbering when
                  pouring a foundation, for strengthening the walls in pits and
                  other construction-related works, for the construction of
                  temporary warehouses, sheds, fences and utility rooms.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="right_side_page1"></div>
    </div>

    <footer th:insert="SimpleContainers/footer :: footer"></footer>

    <script src="js/app.min.js"></script>

    <script
      type="text/javascript"
      src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"
    ></script>
    <script>
      //change language
      $(document).on("click", ".switchEnglish", function () {
        var url = "https://drewmetpoland.com/index_en.html";
        $(location).attr("href", url);
      });
      $(document).on("click", ".switchRussian", function () {
        var url = "https://drewmetpoland.com/index_ru.html";
        $(location).attr("href", url);
      });
    </script>
  </body>
</html>
