<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta https-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="MZ" />
    <meta
      name="description"
      content="
    Сompany, the priority of which is the sale and production of lumber 
    High-quality lumber, longitudinally, edged, unedged of various timber/wood species. 
    "
    />
    <title>DrewMet</title>
    <link rel="stylesheet" href="../../css/app.min.css" />
    <link
      rel="shortcut icon"
      href="../../images/dest/ico/logo.png"
      type="image/x-icon"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  </head>
  <body>
    <div th:include="~{SimpleContainers/switchers :: language_swithcers}"></div>
    <header th:include="~{SimpleContainers/header :: header}"></header>

    <div class="page-mid">
      <div class="left_side_page1"></div>

      <div class="cpt_cp">
        <hr />
        <div class="cp_title">
          <a><strong>A pallet blank</strong></a>
        </div>
        <hr />
        <div class="center_page">
          <div
            th:include="~{SimpleContainers/page_ls_navigation:: page_ls_navigation}"
          ></div>
          <div class="content_page1">
            <div class="t_c_f">
              <div class="t_c_fl">
                <img src="../../images/dest/Products/palet.jpg" alt="palet" />
              </div>
              <div class="t_c_ft">
                <p>
                  <strong>A pallet blank </strong>
                  is a set of bars and boards designed for the assembly of
                  pallets. Wooden pallets are widely used all over the world as
                  containers and packaging for all types of products. Their
                  advantage is 100% environmental compatibility and inexpensive
                  price with high quality and ease of use. Due to their strength
                  and ease of transportation, wood pallets are an inescapable
                  consumable in the warehouses of the companies.
                  <br />
                </p>
              </div>
            </div>

            <div class="t_c_ftb">
              <p>
                Here you can order pallet blanks of a standard size for the
                production of the pallets, such as:
              </p>
              <strong>
                <ul>
                  <li>Euro pallet 1-6 (EPAL, EURO pallets)</li>
                  <li>Chemical pallets (CP)</li>
                  <li>Disposable pallets</li>
                  <li>Dusseldorf pallet</li>
                </ul>
              </strong>

              <br />
              <p>
                It is also possible to manufacture and supply blanks of special
                sizes, according to your technical specifications.
              </p>
              <p>
                Blanks can be natural moisture (wet) and and machine-dried wood
                in drying chambers up to 20% moisture (KD)
              </p>
              <strong
                ><p>As an option we carry out antiseptic treatment.</p></strong
              >
            </div>
          </div>
        </div>
      </div>

      <div class="right_side_page1"></div>
    </div>

    <footer th:include="~{SimpleContainers/footer :: footer}"></footer>

    <script src="js/app.min.js"></script>

    <script
      type="text/javascript"
      src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"
    ></script>
    <script>
      //change language
      $(document).on("click", ".switchEnglish", function () {
        var url = "https://drewmetpoland.com/index_en.html";
        $(location).attr("href", url);
      });
      $(document).on("click", ".switchRussian", function () {
        var url = "https://drewmetpoland.com/index_ru.html";
        $(location).attr("href", url);
      });
    </script>
  </body>
</html>
