<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta https-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="MZ" />
    <meta
      name="description"
      content="
    Сompany, the priority of which is the sale and production of lumber 
    High-quality lumber, longitudinally, edged, unedged of various timber/wood species. 
    "
    />
    <title>DrewMet</title>
    <link rel="stylesheet" href="../../css/app.min.css" />
    <link
      rel="shortcut icon"
      href="../../images/dest/ico/logo.png"
      type="image/x-icon"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  </head>
  <body>
    <div class="Switchers">
      <div class="bs1 switchEnglish">
        <img src="../../images/dest/ico/usaFlag.jpg" alt="usaFlag" />
      </div>
      <div class="bs2"></div>
      <div class="bs3 switchRussian">
        <img src="../../images/dest/ico/rusFlag.jpg" alt="rusFlag" />
      </div>
    </div>
    <header th:insert="SimpleContainers/header :: header"></header>

    <div class="page-mid">
      <div class="left_side_page1"></div>

      <div class="cpt_cp">
        <hr />
        <div class="cp_title">
          <a><strong>Edged lumber</strong></a>
        </div>
        <hr />
        <div class="center_page">
            <div th:insert="SimpleContainers/page_ls_navigation:: page_ls_navigation"></div>
          <div class="content_page1">
            <div class="text_content">
              <div class="t_c_">
                <div class="t_c_l">
                  <img src="../../images/dest/Products/balka.jpg" alt="balka" />
                </div>
                <div class="t_c_r">
                  <p>
                    <strong>Bar </strong> Bar (dry or natural moisture edged)
                    lumber with a square or rectangular section, has a thickness
                    of 10 cm and a width less than double thickness. A bar is a
                    sawn log from 4 sides to a square
                  </p>
                </div>
              </div>
              <div class="t_c_">
                <div class="t_c_l">
                  <img
                    src="../../images/dest/Products/rdoska.jpg"
                    alt="rdoska"
                  />
                </div>
                <div class="t_c_r">
                  <p>
                    <strong>Dry edged or natural moisture board</strong> The
                    board has a thickness of no more than 10 cm and a width of
                    two or more times its thickness. The edged board has flat
                    surfaces on four sides, but in some cases, the wane edge on
                    board set by the norms (part of the uncut side surface) is
                    allowed.
                  </p>
                </div>
              </div>
              <div class="t_c_">
                <div class="t_c_l">
                  <img
                    src="../../images/dest/Products/brusok.jpg"
                    alt="brusok"
                  />
                </div>
                <div class="t_c_r">
                  <p>
                    <strong>Bar - a variant of a bar</strong> with a thickness
                    of less than 100 mm. Bars are used in decoration as a basis
                    for laying floor, ceiling and wall coverings, used in the
                    manufacture of entrance and interior doors.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- <div th:insert="SimpleContainers/page_ls_navigation :: header"></div> -->
      <div class="right_side_page1"></div>
    </div>

    <footer th:insert="SimpleContainers/footer :: footer"></footer>

    <script src="js/app.min.js"></script>

    <script
      type="text/javascript"
      src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"
    ></script>
    <script>
      //change language
      $(document).on("click", ".switchEnglish", function () {
        var url = "https://drewmetpoland.com/index_en.html";
        $(location).attr("href", url);
      });
      $(document).on("click", ".switchRussian", function () {
        var url = "https://drewmetpoland.com/index_ru.html";
        $(location).attr("href", url);
      });
    </script>
  </body>
</html>
