<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta https-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="MZ" />
    <meta
      name="description"
      content="
    Сompany, the priority of which is the sale and production of lumber 
    High-quality lumber, longitudinally, edged, unedged of various timber/wood species. 
    "
    />
    <title>DrewMet</title>
    <link rel="stylesheet" href="../../css/app.min.css" />
    <link
      rel="shortcut icon"
      href="../../images/dest/ico/logo.png"
      type="image/x-icon"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  </head>
  <body>
    <div th:include="~{SimpleContainers/switchers :: language_swithcers}"></div>
    <header th:include="~{SimpleContainers/header :: header}"></header>
    <div class="page-mid">
      <div class="left_side_page1"></div>

      <div class="cpt_cp">
        <hr />
        <div class="cp_title">
          <a><strong>Gallery</strong></a>
        </div>
        <hr />
        <div class="center_page">
          <div
            th:include="~{SimpleContainers/page_ls_navigation:: page_ls_navigation}"
          ></div>
          <div class="content_page1">
            <div class="mid_part">
              <div class="mid_part_num">
                <div class="mid_part_num_1_p balka">
                  <img src="../images/dest/products/balka.jpg" alt="bar" />
                </div>

                <div class="mid_part_num_1_t">
                  <a>Bar</a>
                </div>
              </div>
              <div class="mid_part_num">
                <div class="mid_part_num_2_p brusok">
                  <img
                    src="../images/dest/Products/brusok.jpg"
                    alt="variant of bar"
                  />
                </div>
                <div class="mid_part_num_2_t">Variant of a bar</div>
              </div>
              <div class="mid_part_num">
                <div class="mid_part_num_3_p drova">
                  <img
                    src="../images/dest/Products/drova.jpg"
                    alt="Split firewood"
                  />
                </div>
                <div class="mid_part_num_3_t">Split firewood</div>
              </div>
              <div class="mid_part_num">
                <div class="mid_part_num_4_p gorbil">
                  <img src="../images/dest/Products/gorbil.jpg" alt="Slab" />
                </div>
                <div class="mid_part_num_4_t">Slab</div>
              </div>
              <div class="mid_part_num">
                <div class="mid_part_num_5_p nerdoska">
                  <img
                    src="../images/dest/Products/nerdoska.jpg"
                    alt="Unedged lumber"
                  />
                </div>
                <div class="mid_part_num_5_t">Unedged lumber</div>
              </div>
              <div class="mid_part_num">
                <div class="mid_part_num_6_p palet">
                  <img
                    src="../images/dest/Products/palet.jpg"
                    alt="A pallet blank"
                  />
                </div>
                <div class="mid_part_num_6_t">A pallet blank</div>
              </div>
              <div class="mid_part_num">
                <div class="mid_part_num_7_p opilki">
                  <img src="../images/dest/Products/opilki.jpg" alt="Sawdust" />
                </div>
                <div class="mid_part_num_7_t">Sawdust</div>
              </div>
              <div class="mid_part_num">
                <div class="mid_part_num_8_p rdoska">
                  <img
                    src="../images/dest/Products/rdoska.jpg"
                    alt="Edged lumber"
                  />
                </div>
                <div class="mid_part_num_8_t">Edged lumber</div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="right_side_page1"></div>
    </div>

    <footer th:include="~{SimpleContainers/footer :: footer}"></footer>
    <script src="js/app.min.js"></script>

    <script
      type="text/javascript"
      src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"
    ></script>
    <script>
      //change language
      $(document).on("click", ".switchEnglish", function () {
        var url = "https://drewmetpoland.com/index_en.html";
        $(location).attr("href", url);
      });
      $(document).on("click", ".switchRussian", function () {
        var url = "https://drewmetpoland.com/index_ru.html";
        $(location).attr("href", url);
      });
    </script>
  </body>
</html>
