<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta https-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="MZ" />
    <meta
      name="description"
      content="
    Сompany, the priority of which is the sale and production of lumber 
    High-quality lumber, longitudinally, edged, unedged of various timber/wood species. 
    "
    />
    <title>DrewMet</title>
    <link rel="stylesheet" href="../../css/app.min.css" />
    <link
      rel="shortcut icon"
      href="../../images/dest/ico/logo.png"
      type="image/x-icon"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  </head>
  <body>
    <div class="Switchers">
      <div class="bs1 switchEnglish">
        <img src="../../images/dest/ico/usaFlag.jpg" alt="usaFlag" />
      </div>
      <div class="bs2"></div>
      <div class="bs3 switchRussian">
        <img src="../../images/dest/ico/rusFlag.jpg" alt="rusFlag" />
      </div>
    </div>
    <header th:insert="SimpleContainers/header :: header"></header>

    <div class="page-mid">
      <div class="left_side_page1"></div>

      <div class="cpt_cp">
        <hr />
        <div class="cp_title">
          <a><strong>Split firewood</strong></a>
        </div>
        <hr />
        <div class="center_page">
            <div th:insert="SimpleContainers/page_ls_navigation:: page_ls_navigation"></div>
          <div class="content_page1">
            <div class="t_c_">
              <div class="t_c_l">
                <img src="../../images/dest/Products/drova.jpg" alt="drova" />
              </div>
              <div class="t_c_r">
                <p>
                  <strong>Split firewood</strong><br />
                  is used all over the world as an affordable, environmental
                  compatibility and renewable energy and heat resource. <br />

                  The most calorific species, emitting the greatest amount of
                  heat, are hard-leaved such as - ash, hornbeam, oak, birch.
                  Wood of these species burns longer and gives a higher heat.
                  The price for firewood from these species is higher, however,
                  they are the most demanded due to their high efficiency.
                  <br />

                  We are interested in large exports to the
                  <strong>EU</strong> and the <strong>USA</strong>, we offer
                  flexible terms of cooperation and convenient ways of payment.
                  We offer to supply products from high-quality raw materials of
                  the most energy-efficient species.<br />
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="right_side_page1"></div>
    </div>

    <footer th:insert="SimpleContainers/footer :: footer"></footer>

    <script src="js/app.min.js"></script>

    <script
      type="text/javascript"
      src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"
    ></script>
    <script>
      //change language
      $(document).on("click", ".switchEnglish", function () {
        var url = "https://drewmetpoland.com/index_en.html";
        $(location).attr("href", url);
      });
      $(document).on("click", ".switchRussian", function () {
        var url = "https://drewmetpoland.com/index_ru.html";
        $(location).attr("href", url);
      });
    </script>
  </body>
</html>
