<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta https-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="MZ" />
    <meta
      name="description"
      content="
    Сompany, the priority of which is the sale and production of lumber 
    High-quality lumber, longitudinally, edged, unedged of various timber/wood species. 
    "
    />
    <title>DrewMet</title>
    <link rel="stylesheet" href="../../css/app.min.css" />
    <link
      rel="shortcut icon"
      href="../../images/dest/ico/logo.png"
      type="image/x-icon"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  </head>
  <body>
    <div th:insert="~{SimpleContainers/switchers :: language_swithcers}"></div>
    <header th:insert="~{SimpleContainers/header :: header}"></header>

    <div class="page-mid">
      <div class="left_side_page1"></div>

      <div class="cpt_cp">
        <hr />
        <div class="cp_title">
          <a><strong>Payment and delivery</strong></a>
        </div>
        <hr />
        <div class="center_page">
          <div
            th:insert="~{SimpleContainers/page_ls_navigation:: page_ls_navigation}"
          ></div>
          <div class="content_page1">
            <div class="text_content">
              <p>
                Depending on your needs,
                <strong>DrewMet Anton Paulau</strong> company is ready to
                organize the supply of products of the required dimensions
                according to the specification. We offer both natural moisture
                (wet) and machine-dried wood in drying chambers up to 20%
                moisture (KD).
              </p>

              <p>
                If necessary, treatment against fungus (blue stain infection),
                high-quality wood preservation treatment can be performed.
              </p>

              <p>
                To determine the price, we need the dimensions of the product,
                the species and type of wood, the requirements for labeling and
                packaging, the degree of moisture (up to
                <strong>10%, 11-15%, 16-20%</strong>).
              </p>
              <p>
                <strong>DrewMet Anton Paulau</strong>
                aims at strong long-term cooperation and is ready quickly and
                efficiently to organize wholesale distribution of products to
                the <strong>United States</strong> and any country of the
                <strong>European Union</strong>.
              </p>

              <p>
                We are waiting for your specifications (applications) and our
                prices will delight you.
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="right_side_page1"></div>
    </div>

    <footer th:insert="~{SimpleContainers/footer :: footer}"></footer>

    <script src="js/app.min.js"></script>

    <script
      type="text/javascript"
      src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"
    ></script>
    <script>
      //change language
      $(document).on("click", ".switchEnglish", function () {
        var url = "https://drewmetpoland.com/index_en.html";
        $(location).attr("href", url);
      });
      $(document).on("click", ".switchRussian", function () {
        var url = "https://drewmetpoland.com/index_ru.html";
        $(location).attr("href", url);
      });
    </script>
  </body>
</html>
