<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta https-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="MZ" />
    <meta
      name="description"
      content="
    Сompany, the priority of which is the sale and production of lumber 
    High-quality lumber, longitudinally, edged, unedged of various timber/wood species. 
    "
    />
    <title>DrewMet</title>
    <link rel="stylesheet" href="../../css/app.min.css" />
    <link
      rel="shortcut icon"
      href="../../images/dest/ico/logo.png"
      type="image/x-icon"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  </head>
  <body>
    <div th:insert="~{SimpleContainers/switchers :: language_swithcers}"></div>
    <header th:insert="~{SimpleContainers/header :: header}"></header>
    <div class="page-mid">
      <div class="left_side_page1"></div>

      <div class="cpt_cp">
        <hr />
        <div class="cp_title">
          <a><strong>About us</strong></a>
        </div>
        <hr />
        <div class="center_page">
          <div
          th:insert="~{SimpleContainers/page_ls_navigation:: page_ls_navigation}"
        ></div>
          <div class="content_page1">
            <div class="text_content">
              <p>
                <strong>DrewMet Anton Paulau</strong> is an international,
                dynamically developing company, the priority of which is the
                production and sale of sawn timber/wood in
                <strong>Poland, Lithuania, Latvia, USA, Europe</strong> . Sawing
                of round timber/wood is carried out by highly qualified
                specialists using modern equipment
              </p>

              <p>We offer high quality lumber:</p>
              <strong
                ><p></p>
                <ul>
                  <li><p>Longitudinally</p></li>
                  <li><p>Edged</p></li>
                  <li><p>Unedged</p></li>
                </ul>
                <p></p
              ></strong>

              <p>
                The production of lumber is carried out in the quantity,
                nomenclature and the dimensions of the customer. The
                manufactured products correspond to the State standard and have
                a certificate of their own production
              </p>
              <p>A wide selection of various timber/wood species:</p>
              <strong
                ><p></p>
                <ul>
                  <li><p>Spruce</p></li>
                  <li><p>Pine</p></li>
                  <li><p>Birch</p></li>
                  <li><p>Aspen</p></li>
                  <li><p>Alder</p></li>
                </ul>
                <p></p
              ></strong>

              <p>
                Our company offers a wide selection of lumber at profitable
                prices, and invites you to mutually beneficial cooperation
              </p>

              <p>
                <br />
                <strong>We guarantee:</strong>
              </p>

              <ul>
                <li>
                  <p><strong>Prompt delivery</strong></p>
                </li>
                <li>
                  <p><strong>Products of the high quality</strong></p>
                </li>
                <li>
                  <p><strong>Individual approach to each client</strong></p>
                </li>
              </ul>
              <p></p>
            </div>
          </div>
        </div>
      </div>

      <div class="right_side_page1"></div>
    </div>
    <footer th:insert="~{SimpleContainers/footer :: footer}"></footer>
    <script
      type="text/javascript"
      src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"
    ></script>
    <script src="js/app.min.js"></script>
    <script>
      //change language
      $(document).on("click", ".switchEnglish", function () {
        var url = "https://drewmetpoland.com/index_en.html";
        $(location).attr("href", url);
      });
      $(document).on("click", ".switchRussian", function () {
        var url = "https://drewmetpoland.com/index_ru.html";
        $(location).attr("href", url);
      });
    </script>
  </body>
</html>
