<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta https-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="MZ" />
    <meta
      name="description"
      content="
    Сompany, the priority of which is the sale and production of lumber 
    High-quality lumber, longitudinally, edged, unedged of various timber/wood species. 
    "
    />
    <title>DrewMet</title>
    <link rel="stylesheet" href="../../css/app.min.css" />
    <link
      rel="shortcut icon"
      href="../../images/dest/ico/logo.png"
      type="image/x-icon"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  </head>
  <body>
    <div th:insert="~{SimpleContainers/switchers :: language_swithcers}"></div>
    <header th:insert="~{SimpleContainers/header :: header}"></header>

    <div class="page-mid">
      <div class="left_side_page1"></div>

      <div class="cpt_cp">
        <hr />
        <div class="cp_title">
          <a><strong>A pallet blank</strong></a>
        </div>
        <hr />
        <div class="center_page">
          <div
            th:insert="~{SimpleContainers/page_ls_navigation:: page_ls_navigation}"
          ></div>
          
        </div>
      </div>

      <div class="right_side_page1"></div>
    </div>

    <footer th:insert="~{SimpleContainers/footer :: footer}"></footer>

    <script src="js/app.min.js"></script>

    <script
      type="text/javascript"
      src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"
    ></script>
    <script>
      //change language
      $(document).on("click", ".switchEnglish", function () {
        var url = "https://drewmetpoland.com/index_en.html";
        $(location).attr("href", url);
      });
      $(document).on("click", ".switchRussian", function () {
        var url = "https://drewmetpoland.com/index_ru.html";
        $(location).attr("href", url);
      });
    </script>
  </body>
</html>
