<div th:fragment="page_ls_navigation">
  <div class="navigate">
    <div class="nav-link-1">
      <div class="nav-link-1-left">
        <p><strong> > </strong></p>
      </div>
      <div class="nav-link-1-right">
        <a href="/page1"><p>Edged lumber</p></a>
      </div>
    </div>
    <div class="nav-link-2">
      <div class="nav-link-2-left">
        <p><strong> > </strong></p>
      </div>
      <div class="nav-link-2-right">
        <a href="/page2"><p>Unedged lumber</p></a>
      </div>
    </div>
    <div class="nav-link-3">
      <div class="nav-link-3-left">
        <p><strong> > </strong></p>
      </div>
      <div class="nav-link-3-right">
        <a href="/page3"><p>A pallet blank</p></a>
      </div>
    </div>
    <div class="nav-link-4">
      <div class="nav-link-4-left">
        <p><strong> > </strong></p>
      </div>
      <div class="nav-link-4-right">
        <a href="/page4"><p>Split firewood</p></a>
      </div>
    </div>
    <div class="nav-link-5">
      <div class="nav-link-5-left">
        <p><strong> > </strong></p>
      </div>
      <div class="nav-link-5-right">
        <a href="/page5"><p>Slab / Sawdust</p></a>
      </div>
    </div>
  </div>
</div>
