<div th:fragment="pallet_blank_content">
    <div class="content_page1">
        <div class="t_c_f">
          <div class="t_c_fl">
            <img src="../../images/dest/Products/palet.jpg" alt="palet" />
          </div>
          <div class="t_c_ft">
            <p>
              <strong>A pallet blank </strong>
              is a set of bars and boards designed for the assembly of
              pallets. Wooden pallets are widely used all over the world as
              containers and packaging for all types of products. Their
              advantage is 100% environmental compatibility and inexpensive
              price with high quality and ease of use. Due to their strength
              and ease of transportation, wood pallets are an inescapable
              consumable in the warehouses of the companies.
              <br />
            </p>
          </div>
        </div>

        <div class="t_c_ftb">
          <p>
            Here you can order pallet blanks of a standard size for the
            production of the pallets, such as:
          </p>
          <strong>
            <ul>
              <li>Euro pallet 1-6 (EPAL, EURO pallets)</li>
              <li>Chemical pallets (CP)</li>
              <li>Disposable pallets</li>
              <li>Dusseldorf pallet</li>
            </ul>
          </strong>

          <br />
          <p>
            It is also possible to manufacture and supply blanks of special
            sizes, according to your technical specifications.
          </p>
          <p>
            Blanks can be natural moisture (wet) and and machine-dried wood
            in drying chambers up to 20% moisture (KD)
          </p>
          <strong
            ><p>As an option we carry out antiseptic treatment.</p></strong
          >
        </div>
      </div>
</div>