<div th:fragment="slab_sawdust_content">
    <div class="content_page1">
        <div class="text_content">
            <div class="t_c_">
                <div class="t_c_l">
                    <img src="../../images/dest/Products/gorbil.jpg" alt="gorbil" />
                </div>
                <div class="t_c_r">
                    <p>
                        <strong>The slab </strong>
                        sawn off during the production of bars and boards is a part
                        of the tree, in fact, waste production. It has a low price
                        and is divided, depending on the application, into
                        wood-burning (goes for kindling) and business (used in
                        construction where appearance is not important). Recyclable
                        to the boards of the different sizes
                    </p>
                </div>
            </div>
            <div class="t_c_">
                <div class="t_c_l">
                    <img src="../../images/dest/Products/opilki.jpg" alt="opilki" />
                </div>
                <div class="t_c_r">
                    <p>
                        <strong>Sawdust </strong> (Fraction out of disc machines).
                        Suitable for a large number of different variants of usage:
                        such as an absorber (moisture absorber) of oil waste, from
                        old sawdust produce a substrate for the soil, for storing
                        vegetables and fruits on the balcony, in the cellar, as a
                        means of pest control (the pine smell repels), you can cover
                        plants from the freeze in the garden, as a material for
                        noise absorption.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>