<div th:fragment="split_frewood_content">
    <div class="content_page1">
        <div class="t_c_">
            <div class="t_c_l">
                <img src="../../images/dest/Products/drova.jpg" alt="drova" />
            </div>
            <div class="t_c_r">
                <p>
                    <strong>Split firewood</strong><br />
                    is used all over the world as an affordable, environmental
                    compatibility and renewable energy and heat resource. <br />

                    The most calorific species, emitting the greatest amount of
                    heat, are hard-leaved such as - ash, hornbeam, oak, birch.
                    Wood of these species burns longer and gives a higher heat.
                    The price for firewood from these species is higher, however,
                    they are the most demanded due to their high efficiency.
                    <br />

                    We are interested in large exports to the
                    <strong>EU</strong> and the <strong>USA</strong>, we offer
                    flexible terms of cooperation and convenient ways of payment.
                    We offer to supply products from high-quality raw materials of
                    the most energy-efficient species.<br />
                </p>
            </div>
        </div>
    </div>
</div>