<div th:fragment="unedged_lumber_content">
    <div class="content_page1">
        <div class="t_c_">
            <div class="t_c_l">
                <img src="../../images/dest/Products/nerdoska.jpg" alt="nerdoska" />
            </div>
            <div class="t_c_r">
                <p>
                    <strong>Unedged board </strong>
                    of natural moisture or machine-dried has a length from 2 to 6
                    meters. Width and thickness - according to the customer's
                    requirements. It is possible to process unedged boards with
                    special protective impregnations for sea transportation.
                    Unedged lumber is of lower quality, but its low price makes it
                    one of the most affordable building materials, which makes it
                    widely used in many areas. For example, for timbering when
                    pouring a foundation, for strengthening the walls in pits and
                    other construction-related works, for the construction of
                    temporary warehouses, sheds, fences and utility rooms.
                </p>
            </div>
        </div>
    </div>
</div>